@use "../../styles/mixins";

.headerCover {
  position: relative;
}
.light {
  @include mixins.light;
}

.dark {
  @include mixins.dark;
}

.nav {
  display: flex;
  flex-direction: column;
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.navLink {
  text-decoration: none;
  padding: 10px 10px;
}

.navLinkLight {
  color: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
  &:hover {
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    font-weight: bold;
  }
}

.navLinkDark {
  color: white;
  fill: white;
  &:hover {
    color: red;
    fill: red;
    font-weight: bold;
  }
}

.greetingLight {
  color: rgb(0, 0, 0);
}
.greetingDark {
  color: white;
}

.hiddenDisplay {
  max-height: 700px;
}

.hiddenDisplayLight {
  background-color: aqua;
}

.hiddenDisplayDark {
  @include mixins.dark;
}

@media screen and (min-width: 760px) {
  .nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navItem {
    display: flex;
    flex-direction: row;
    overflow: visible;
    max-height: none;
  }
}
